name: 'Torii USB CI'
on:
  push:
    branches-ignore:
      - 'gh-pages'
    paths:
      - '.github/workflows/ci.yml'
      - 'docs/**'
      - 'examples/**'
      - 'tests/**'
      - 'torii_usb/**'
      - 'noxfile.py'
      - 'pyproject.toml'
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.job }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TOOL_PYTHON_VERSION: '3.11'

jobs:
  lint-torii-usb:
    runs-on: ubuntu-latest
    name: 'Lint Torii USB'
    steps:
      - name: 'Setup Python (${{ env.TOOL_PYTHON_VERSION }})'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.TOOL_PYTHON_VERSION }}

      - name: 'Initialize Environment'
        shell: bash
        env:
          WORKSPACE: ${{ github.workspace }}
        run: |
          echo "$HOME/.local/bin:$PATH" >> $GITHUB_PATH
          echo "GITHUB_WORKSPACE=\"`pwd`\"" >> $GITHUB_ENV

      - name: 'Install Dependencies'
        shell: bash
        run: |
          python -m pip install --user --upgrade pip setuptools wheel setuptools_scm nox

      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: 'Install uv'
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false

      - name: 'Run Style Lint'
        shell: bash
        continue-on-error: true
        run: |
          nox -s lint

      - name: 'Run Type Checking'
        shell: bash
        continue-on-error: true
        run: |
          nox -s typecheck-mypy
          nox -s typecheck-pyright

  test-torii-usb:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.11', '3.12', '3.13', '3.14', ]
        allow-failure:
         - false
        include:
          - python-version: '3.15-dev'
            allow-failure: true
          - python-version: 'pypy3.11'
            allow-failure: true

    name: 'Test Torii USB (Python ${{ matrix.python-version }})'
    continue-on-error: ${{ matrix.allow-failure }}
    steps:
      - name: 'Setup Python (${{ matrix.python-version }})'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: 'Initialize Environment'
        shell: bash
        env:
          WORKSPACE: ${{ github.workspace }}
        run: |
          echo "$HOME/.local/bin:$PATH" >> $GITHUB_PATH
          echo "GITHUB_WORKSPACE=\"`pwd`\"" >> $GITHUB_ENV

      - name: 'Install Dependencies'
        shell: bash
        run: |
          python -m pip install --user --upgrade pip setuptools wheel setuptools_scm nox

      - name: 'Setup OSS CAD Suite'
        uses: YosysHQ/setup-oss-cad-suite@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: 'Install uv'
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false

      - name: 'Run Tests'
        shell: bash
        run: |
          nox -s test

      - name: 'Codecov Upload'
        if: success() && github.repository == 'shrine-maiden-heavy-industries/torii-usb'
        uses: codecov/codecov-action@v5
        with:
          verbose: true
          files: ./build/tests/coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

  linkcheck-docs:
    runs-on: ubuntu-latest
    name: 'Torii USB Docs - Link-check'
    steps:
      - name: 'Setup Python (${{ env.TOOL_PYTHON_VERSION }})'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.TOOL_PYTHON_VERSION }}

      - name: 'Initialize Environment'
        shell: bash
        env:
          WORKSPACE: ${{ github.workspace }}
        run: |
          echo "$HOME/.local/bin:$PATH" >> $GITHUB_PATH
          echo "GITHUB_WORKSPACE=\"`pwd`\"" >> $GITHUB_ENV

      - name: 'Install Dependencies'
        shell: bash
        run: |
          python -m pip install --user --upgrade pip setuptools wheel setuptools_scm nox

      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: 'Install uv'
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false

      - name: 'Link Check'
        shell: bash
        run: |
          nox -s linkcheck-docs

  build-docs:
    runs-on: ubuntu-latest
    name: 'Torii USB Docs - Build'
    steps:
      - name: 'Setup Python (${{ env.TOOL_PYTHON_VERSION }})'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.TOOL_PYTHON_VERSION }}

      - name: 'Initialize Environment'
        shell: bash
        env:
          WORKSPACE: ${{ github.workspace }}
        run: |
          echo "$HOME/.local/bin:$PATH" >> $GITHUB_PATH
          echo "GITHUB_WORKSPACE=\"`pwd`\"" >> $GITHUB_ENV

      - name: 'Install Dependencies'
        shell: bash
        run: |
          python -m pip install --user --upgrade pip setuptools wheel setuptools_scm nox

      - name: 'Setup Documentation Build Cache'
        uses: actions/cache@v4
        with:
          key: torii-usb-docs
          path: build/mv-docs

      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 'Install uv'
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false

      - name: 'Build Docs'
        shell: bash
        run: |
          nox -s build-docs-multiversion

      - name: 'Upload docs artifact'
        if: success() && github.repository == 'shrine-maiden-heavy-industries/torii-usb' && (github.event.ref == 'refs/heads/main' || startsWith(github.event.ref, 'refs/tags/v')) && github.event_name == 'push'
        uses: actions/upload-artifact@v4
        with:
          name: docs
          include-hidden-files: true
          path: ./build/mv-docs
          retention-days: 1

  docs:
    name: 'Torii USB Docs (Meta Job)'
    needs:
      - linkcheck-docs
      - build-docs
    runs-on: ubuntu-latest
    steps:
      - run: ${{ contains(needs.*.result, 'failure') && 'false' || 'true' }}

  ci-checkpoint:
    name: 'Torii USB CI Checkpoint (Meta Job)'
    needs:
      - lint-torii-usb
      - test-torii-usb
      - docs
    runs-on: ubuntu-latest
    steps:
      - run: ${{ contains(needs.*.result, 'failure') && 'false' || 'true' }}

  publish-docs:
    name: 'Publish Torii USB Docs'
    if: github.repository == 'shrine-maiden-heavy-industries/torii-usb' && (github.event.ref == 'refs/heads/main' || startsWith(github.event.ref, 'refs/tags/v')) && github.event_name == 'push'
    needs:
      - ci-checkpoint
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: 'Download docs artifact'
        uses: actions/download-artifact@v4
        with:
          name: docs
          path: built_docs/

      - name: 'Deploy Docs'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: built_docs/
          clean: true
          single-commit: true

  publish-pypi:
    name: 'Torii USB - Publish PyPi package'
    if: github.repository == 'shrine-maiden-heavy-industries/torii-usb' && github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v') && !contains(github.event.ref, 'dev')
    needs:
      - publish-docs
      - ci-checkpoint
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/torii-usb
    permissions:
      id-token: write
    steps:
      - name: 'Setup Python (${{ env.TOOL_PYTHON_VERSION }})'
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.TOOL_PYTHON_VERSION }}

      - name: 'Initialize Environment'
        shell: bash
        env:
          WORKSPACE: ${{ github.workspace }}
        run: |
          echo "$HOME/.local/bin:$PATH" >> $GITHUB_PATH
          echo "GITHUB_WORKSPACE=\"`pwd`\"" >> $GITHUB_ENV

      - name: 'Install Dependencies'
        shell: bash
        run: |
          python -m pip install --user --upgrade pip setuptools wheel setuptools_scm nox twine build

      - name: 'Checkout'
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: 'Install uv'
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: false

      - name: 'Build wheel'
        shell: bash
        run: |
          nox -s dist

      - name: 'Check package'
        shell: bash
        run: |
          twine check build/dist/*

      - name: 'Publish to PyPi'
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: build/dist/

      - name: 'Upload wheel artifact'
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: build/dist/
